<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Interested?{{else}}No Thank You{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
